# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
*.sqlite3

# Node
node_modules/

# Build
dist/
build/